#TestString {
  display: none;
}

#TestTextField {
  font-size: max(min(2.5vw, 5vh), 20px);
  letter-spacing: 0.1em;
  font-family: "Hermit", monospace;
}

.ok_char, .status_ok {
  background-color: #77f569;
}

.wrong_char, .status_wrong {
  background-color: #e61f11;
  color: #fff;
}

.status_none, .status_ok, .status_wrong {
  border: 2px solid #999;
  height: 1.5em;
  width: 100%;
  margin-block-end: 0.8em;
}

#Result {
  display: none;
  max-width: 800px;
  margin: auto;
}

#Result table {
  margin: auto;
  width: fit-content;
}

.complete {
  text-align: center;
}

#GoNext {
  text-align: center;
}